<link href="assets/css/viewSpecific/passwordRecovery/newPassword.css" rel="stylesheet" />
<link href="/assets/css/viewSpecific/passwordRecovery/passwordRecovery.css" rel="stylesheet" />
<div id="newpass" ng-style="background">
    <div class="layer-opacity"></div>
    <div class="logo"></div>
    <div class="box">
        <h3>Choose a new password</h3>

        <form name="form" ng-submit="submit()">
            <div class="form-validation-error" ng-if="error" ng-bind='error'></div>
            <div>
                <label for="password" class="text-uppercase">chosse password</label><br>
                <input type="password" ng-model="password" name="password" ng-model-options="{ updateOn: 'mousedown blur' }" ng-minlength="8" required placeholder="At least 8 characters" />
                <div class="form-validation-error" ng-messages="form.password.$error" ng-show='form.password.$touched' role="alert">
                    <div ng-message="minlength">The password minimum length is 8 characters</div>
                    <div ng-message="required">The password is required</div>
                </div>
            </div>
            <div>
                <label for="passwordConfirmation" class="text-uppercase">confirm password</label><br>
                <input type="password" ng-model="passwordConfirmation" name="passwordConfirmation" ng-model-options="{ updateOn: 'mousedown blur' }" required placeholder="Password" />
                <div class="form-validation-error" ng-messages="form.passwordConfirmation.$error" ng-show='form.passwordConfirmation.$touched' role="alert">
                    <div ng-message="required">The password is required</div>
                    <div ng-if="form.passwordConfirmation.$touched && passwordConfirmation!=password">The passwords must match</div>
                </div>
            </div>
            <div class=" commands center">
                <input class="text-uppercase" type="submit" value="Continue" />
            </div>
        </form>
    </div>
</div>