

input[type=text]:not(.hide-errors).ng-touched.ng-invalid,
input[type=email]:not(.hide-errors).ng-touched.ng-invalid,
input[type=password]:not(.hide-errors).ng-touched.ng-invalid {
    border: 1px solid #d44e4e;
}

.form-validation-error {
    font-size: 14px;
    color: white;
    background-color: #d44e4e;
    margin: 3px 0;
    text-align: center;
}



/*.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;

}

.errspan::before{
    content: "\f058";
}*/